[submodule "5.FrameWorks/spring-mvc-parent"]
	path = 5.FrameWorks/spring-mvc-parent
	url = git@github.com:cicadasmile/spring-mvc-parent.git
[submodule "5.FrameWorks/spring-boot-base"]
	path = 5.FrameWorks/spring-boot-base
	url = git@github.com:cicadasmile/spring-boot-base.git
[submodule "5.FrameWorks/spring-cloud-base"]
	path = 5.FrameWorks/spring-cloud-base
	url = git@github.com:cicadasmile/spring-cloud-base.git
[submodule "5.FrameWorks/middle-ware-parent"]
	path = 5.FrameWorks/middle-ware-parent
	url = git@github.com:cicadasmile/middle-ware-parent.git
[submodule "0.Seed-project/spring-boot-api-project-seed"]
	path = 0.Seed-project/spring-boot-api-project-seed
	url = git@github.com:lihengming/spring-boot-api-project-seed.git
[submodule "0.Seed-project/code-generator"]
	path = 0.Seed-project/code-generator
	url = git@github.com:zhengqingya/code-generator.git
[submodule "5.FrameWorks/spring-boot-demo"]
	path = 5.FrameWorks/spring-boot-demo
	url = git@github.com:xkcoding/spring-boot-demo.git
[submodule "6.Linux-system-base"]
	path = 6.Linux-system-base
	url = git@github.com:cicadasmile/linux-system-base.git
